<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../js/vue.js"></script>
</head>
<body>
    <div id="root">
        <!-- 遍历数组 -->
        <h2>人员列表(遍历数组))</h2>
        <input type="text" placeholder="请输入姓名" v-model="keyWords">
        <ul>
            <li v-for="(p,index) in filPerson" :key="p.id">
                {{p.name}}-{{p.age}}-{{p.sex}}
            </li>
        </ul>
    </div>
    <script typr="text/javascript">
        Vue.config.productionTip = false
        const vm = new Vue({
            el:'#root',
            data:{
                persons:[
                    {id:'001',name:'马冬梅',age:'18',sex:'女'},
                    {id:'002',name:'周冬雨',age:'20',sex:'女'},
                    {id:'003',name:'周杰伦',age:'22',sex:'男'},
                    {id:'004',name:'温兆伦',age:'23',sex:'男'},
                    {id:'005',name:'唐天雄',age:'9',sex:'男'}
                ],
                keyWords:'',
                // filPerson:[],
            },
            // watch实现
            /*watch:{
                keyWords:{
                    immediate:true,
                    handler(val){
                        this.filPerson = this.persons.filter((p) => {
                            return p.name.indexOf(val) !== -1
                        })
                    }
                }
            }*/

            // computed实现
            computed:{
                filPerson(){
                    return this.persons.filter((p) => {
                        return p.name.indexOf(this.keyWords) !== -1
                    })
                }
            }
        })
    </script
</body>
</html>